PUBLIC_EYEGWAY_HOST='http://localhost:55221'
PUBLIC_EYEGWAY_HUB_TRIGGER_KEY=''
PUBLIC_EYEGWAY_TITLE='eyegway'
PUBLIC_EYEGWAY_THEMES='ayu_light:ayu_mirage:bulma:dracula:monokai_pro:one_dark_pro'
PUBLIC_EYEGWAY_DEFAULT_THEME='dracula'
PUBLIC_EYEGWAY_LAYOUTS='empty,2x2'
PUBLIC_EYEGWAY_DEFAULT_LAYOUT='empty'

# THEMES AND LAYOUTS ARE WORKING ALSO WITH NESTED FOLDERS AND MIXED SEPARATORS (COLON, SEMICOLON)
# PUBLIC_EYEGWAY_THEMES='dracula:bulma;custom/miao'
# PUBLIC_EYEGWAY_DEFAULT_THEME='custom/miao'
# PUBLIC_EYEGWAY_DEFAULT_LAYOUT='custom/cat_layout'
# PUBLIC_EYEGWAY_LAYOUTS='empty:2x2;custom/cat_layout'