EYEGWAY_HOST='http://localhost:55221'
EYEGWAY_HUB_TRIGGER_KEY=''
EYEGWAY_TITLE='eyegway'
EYEGWAY_THEMES='ayu_light,ayu_mirage,bulma,dracula,monokai_pro,one_dark_pro'
EYEGWAY_DEFAULT_THEME='dracula'
EYEGWAY_LAYOUTS='empty,2x2'
EYEGWAY_DEFAULT_LAYOUT='empty'